<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width">
 <title>Colegio San Miguel</title>
 <link href="{{ url_for('static', filename='css/estilos.css') }}" rel="stylesheet">
</head>
<body>
<header>
 <h2>Colegio San Miguel</h2>
</header>
<section>
 <nav>
    <ul>
    <li><a href="{{ url_for('opciones') }}">Inicio</a></li>
    <li><a href="#">Sobre nosotros</a></li>
    </ul>
 </nav> 
 {% block content %}{% endblock %}
</section>
<footer>
    <p>Dirección y teléfono del colegio</p>
    <label>Hipólito Yrigoyen Sur 960, Rivadavia, San Juan</label><br><label>Teléfono: 4215252</label>
</footer>
</body>
</html>